<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burger Muncher!</title>
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nova+Round|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/burger_master.js"></script>
    <script src="/js/sound.js"></script>
        <script src="/js/animate.js"></script>
</head>
<body class="newBody">
    <!-- Header -->
    <div class="homeCorner">
        <a href="https://Druidan.github.io/index.html"><i class="fas headMenu fa-home"></i></a>
    </div>
    <header class="titleDiv">
        <h1 class="titleBurgerMuncher">Burger Muncher!</h1>
        <h3 class="burgerMunchertagLine">Get ready to munch some burgers!</h3>
    </header>
    <div class="exitCorner">
        <a href="/"><i class="fas fa-sign-out-alt"></i></a>
    </div>
    {{{ body }}}
</body>
</html>
