<main class="mainContent">

    <section class="toMunch">
        <h2 class="munchTitle">Burgers to Munch!</h2>

        <ul>
            {{#each burgers}}
            {{#unless munched}}
            {{> burgers/burger-box munched=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </section>

    <section class="muncherDiv">
        <img class="muncher" src="assets/images/muncher.png" alt="Burger Muncher">
    </section>

    <section class="munched">
        <h2 class="munchTitle">Munched Burgers</h2>

        <ul>
            {{#each burgers}}
            {{#if munched}}
            {{> burgers/burger-box munched=false}}
            {{/if}}
            {{/each}}
        </ul>
    </section>

    <section class="addBurger">
            <h2 class="munchTitle addTitle">Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label class="burName">Burger Name:</label>
            <input type="text" id="burg" name="name">
        </div>

        <button class="brgrBtn submitBurg" type="submit">Add Burger</button>
    </form>
    </section>

</main>